body {
     background-color: #B2DFDB;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
   }

   .main {
     padding: 50px 50px 5px 50px;
     margin: 30px auto;
     width: 330px;
     background-color: #F2FFFE;
     box-shadow: 0px 10px 0px #00695C;
   }

   .below {
     margin: 50px auto;
   }

   .quote {
     font-weight: 100;
     font-size: 140%;
   }

   .getQuote {
     font-size: 140%;
     font-weight: 300;
   }

   .author {
     margin: 10px 0px 0px 0px;
     letter-spacing: 2px;
     font-size: 90%;
     font-weight: 300;
   }

   .footer {
     margin: 0px 0 20px 0;
     letter-spacing: 3px;
     font-weight: 400;
     color: #ef5350;
   }

   #norris {
     color: #ef5350;
   }

   img {
     margin: 20px 0 0 0;
     border: px solid #00695C;
     box-shadow: 0px 5px 10px #00695C;
   }

   .btn {
     padding: 10px 10px;
     border: 0 none;
     font-weight: 400;
     letter-spacing: 1px;
     border-radius: 0;
   }

   .btn:focus,
   .btn:active:focus,
   .btn.active:focus {
     outline: 0 none;
   }

   .btn-primary {
     background: #0099cc;
     color: #ffffff;
   }

   .btn-primary:hover,
   .btn-primary:focus,
   .btn-primary:active,
   .btn-primary.active,
   .open > .dropdown-toggle.btn-primary {
     background: #33a6cc;
   }

   .btn-primary:active,
   .btn-primary.active {
     background: #007299;
     box-shadow: none;
   }
